/* xs breakpoint specific styles */
@media (max-width: 768px) {


}

/* sm breakpoint specific styles */
@media (min-width: 768px) and (max-width: 992px) {


}

/* md breakpoint specific styles */
@media (min-width: 992px) and (max-width: 1200px) {


}
/* lg breakpoint specific styles */
@media (min-width: 1200px) {

  .bio {
    background-color: grey;

  }
  .foot {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;

  }
}


.icon {
    width: 1.5em;
    height: 1.5em;
    padding: 0.1em;

}
h1 {
  text-align: center;

}
h3 {
  text-align: center;
  background: pink;
}
.intro {
  text-align: justify;
}

@media (min-width: 992px){
  h1 {
    text-align: right;
  }
}


/* PPPPPPPRINNNTERFLJADSFLKASDFKLASL:DFK  */
.circle, .circle-left, .circle-right {
  border: 3px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;

}
.circle-left {
  margin-right: 20%;
}





article > section {
  display: none;
}

.bio {
  background-color: grey;


}
    .face {

    }
    h2 {

    }
    .bio p {

    }
    .bio a {

    }



.footer {
  background-color: blue;
  height: 100px;


}
.foot {
  padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
      text-align: center;
}
.test {
  background-color: pink;
}
