/*  Table of Contents */
/*
  1.Media Specific
  2.Fonts
  3.Reset
  4.Background Video
  5.title
  6.intro
  7.Printer info
  8.Menu
  9.Bio
  10.footer
 */








  /* lg breakpoint specific styles */




/*         RESET             */
.icon {
    width: 1.8rem;
    height: 1.8rem;
    padding: 0.2rem;


}
.arrow {
  position: absolute;
  right: 0;
  height: 1em;
  width: 1em;
  fill: #95989A;



}
.icon-list {
  height: 2rem;
  width: 2rem;
  display: inline;
}
a {
  color: inherit;
  text-decoration: none;

}
p {
  display: inline;
}
body {
  font-family: "acumin-pro";
  overflowY: hidden;
}


/*         BG VIDEO            */
#content {
  background-color: white;

}

/*         TITLE            */
h1 {
  text-align: center;
  font-family: "flood-std";
  letter-spacing: 250%;
  font-size: 7.8rem;
}

/*         INTRO             */
.top {
  text-align: justify;
  background-color: white;
  font-family: "mrs-eaves";
    padding: 15px 30px;

}

  .face img {
    border-radius: 50%;
  }
/*         PRINTER            */
.print {
  color: #C4BA99;

}

.icon-list {
  fill: #C4BA99;
  margin: 0 3rem;
}


/*         MENU            */
article {
  color: #838688;


}


h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 0;
position: relative;
 margin-bottom: 0;
background-color:  #EEEFE1;
 padding-top: 15px;
 padding-bottom: 15px;
  font-size: 2rem;

  font-family: "acta-display";


  color: #95989A;


}


.preview {


   background-repeat: no-repeat;
   background-size: cover;

  background-color: blue;

  background: url("https://github.com/KaariL/menuboard/blob/gh-pages/images/stand-in.JPG?raw=true")
}
.print-preview {
  background-color: #EEEFE1;
  display: none;
  position: absolute;
  right: 0;
  fill: #C4BA99;

}
.bag-md {
  height: 2em;
  width: 2em;
  display: inline;
  transform: translateY(1em);
  margin-left: 5vw;
}
.printer-md {
  height: 2em;
  width: 2em;
  display: inline;
  transform: translateY(1em);
  margin-left: 5vw;

}
.watch-md {
  height: 2em;
  width: 2em;
  display: inline;
  transform: translateY(1em);
  margin-left: 5vw;

}
/*
.dashi {
  background: url("?raw=true")
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.miso {

  background: url("?raw=true")
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.potato {
  background: url("?raw=true")
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.edamame {
  background: url("?raw=true")
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.teriyaki {
  background: url("?raw=true")
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}  */
.menu-item {
  background-color: #D0DADF;
}

.description{
  line-height: 116%;
  letter-spacing: 116%;
  font-style: italic;
  color: white;
  font-size: 120%;



}
h4 {
  color: #C4BA99;
}

.meta > h4 {
  display: inline-block;
  padding: 1rem;
  line-height: 4rem;

}
.ingredients ul {
  list-style-position: inside;
  line-height: 3rem;
  list-style-type: circle;


}
.instructions ul {
  list-style-position: inside;
}
.instructions li {
  line-height: 4rem;
  color: #C4BA99;
  margin-left: 10px;
}
.li {
    color: #838688;
    padding-left: 2rem;
    font-size: 116%;
}

/*         BIO            */
.bio {
  color: #95989A;
}
.face {
  padding: 15px;
}
h2 {
  font-family: "flood-std";
  margin-top: 10px;
  padding: 15px;
}
.haiku {
  line-height: 200%;
  font-family: "mrs-eaves";
  font-style: italic;
  font-size: 135%;

}
.wp {
  font-family: "mrs-eaves";
  font-style: italic;
}
.icon-wordpress {
  fill: #95989A;
  transform: translateY(5px);
}
/*         FOOTER             */
.footer {

  height: 30vh;
  background-image: url("https://github.com/KaariL/menuboard/blob/gh-pages/images/water.png?raw=true");
  background-size: cover;
  background-color: #4D4B4B;


}
.foot {

    padding: 0;

    overflow-x: hidden;
    text-align: center;
  background-color: #4D4B4B;
}
.img {
  background-image: url("https://github.com/KaariL/menuboard/blob/gh-pages/images/stand-in.JPG?raw=true");
  background-size: cover;
    height: 70vh;
}
/*         STATES             */







/* PPPPPPPRINNNTERFLJADSFLKASDFKLASL:DFK  */






article > section {
  display: none;
}







/*          Media Specific               */
/* xs breakpoint specific styles */
@media (max-width: 768px) {
  h1 {
    font-size: 4.6rem;
  }
  .foot {
  margin-top: 10rem;
  }
  body {
    background-color: #EEEFE1;
      font-size: 5em;
  }
  .icon-list {
    position: absolute;
    height: 4em;

  }
  .bag {
    transform: translateX(5vw);
  }
  .printer {
    transform: translateX(35vw);
  }
  .watch {
    transform: translateX(65vw);
  }
  .menu {
    transform: translateY(2em);
  }
  h3{
    padding-bottom: 0px;
    font-size: 2em;
  }
  .arrow {
  transform: rotate(45deg) translateY(.2em);
  position: relative;

  }
  .description {
    padding: 10px 15px;
  }

  .wp {
    margin-bottom: 10px;
  }




}

/* sm breakpoint specific styles */
@media (min-width: 768px) and (max-width: 992px) {

  body {
    background-color: #EEEFE1;
    font-size: 5em;
  }
  .icon-list {
    position: absolute;
    height: 4em;

  }
  .bag {
    transform: translateX(10vw);
  }
  .printer {
    transform: translateX(40vw);
  }
  .watch {
    transform: translateX(70vw);
  }
  .menu {
    transform: translateY(2em);
  }
  h3{
    padding-bottom: 0px;
    font-size: 2em;
  }
.arrow {
  transform: rotate(45deg) translateY(.2em);
  position: relative;
}

  .haiku {
    transform: translateY(15px);
  }
  .foot {
margin-top: 10rem;
  }
  .wp {
    transform: translateY(-40px);
  }

}

/* md breakpoint specific styles */
@media (min-width: 992px) and (max-width: 1200px) {
  .foot {

  }
  h1 {
    text-align: right;
  }
  h3 {
    margin-top: 0;
  }


  .print {
    transform: translateY(-90%);

  }
  .icon-list {
    margin: 0 1.5rem;
    position: absolute;
    right: -3em;
  }
  .bag {
    top: 3em;
  }
  .printer {
    top: 6em;
  }
  .watch {
    top: 9em;
  }
  .menu {
    transform: translateY(-100px);
  }
  .preview-top {
    margin-top: calc(2rem + 30px);
    height: calc(4rem + 30px);
  }
  .preview {
    transform: translateY(-100%);
  }
  body {
    background-color: #EEEFE1;
  }
.bio {
  padding: 10px 0;
}
.arrow {
  transform: rotate(23deg) translateX(-15px) translateY(0.5em);

}
  .description {
    padding: 10px 15px;
  }







}
/* lg breakpoint specific styles */
@media (min-width: 1200px) {
  body {
    padding-bottom: 15rem;
  }
  h1 {
    text-align: right;
  }
  .bio {
    background-color: grey;

  }
  .top {
    position: relative;
  }
  .print {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-200%);
  }
  .icon-list {
    margin: 0 1.5rem;
    position: absolute;
    top: -1em;
  }
  .printer{
    transform: translateX(3em);
  }
  .watch {
    transform: translateX(6em);
  }
  .menu {
    transform: translateY(6rem);
  }
  .arrow {
    transform: rotate(23deg) translateX(1em);
   margin-right: 2em;

  }

  h3 {
    background-color:  #EEEFE1;

  }

  .foot {
    position: fixed;
    margin-top: 0;
    left: 0;
    top: 0;

  }


  }



  /* STATES   */

  .menu-item {

  }
