

.icon {
    width: 1.5em;
    height: 1.5em;
    padding: 0.1em;

}
h1 {
  text-align: center;

}
h3 {
  text-align: center;
  background: pink;
}
.intro {
  text-align: justify;
}

@media (min-width: 992px){
  h1 {
    text-align: right;
  }
}


/* PPPPPPPRINNNTERFLJADSFLKASDFKLASL:DFK  */
.circle, .circle-left, .circle-right {
  border: 3px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;

}
.circle-left {
  margin-right: 20%;
}

article > section {
  display: none;
}

.element-with-video-bg {
	background-image: url(path/to/your/poster.jpg);
}

.ingredients {
  background-color: blue;
}

.instructions {
  background-color: red;
}
.meta {
  background-color: green;
}
.description {
  background-color: purple ;
}
