

html {
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: none;

}
body {
    padding: 0;
    margin: 0;
     font-family: weblysleek;

}
a {
  color: inherit;
  text-decoration: none;

}
@font-face {
    font-family: weblysleek;
    src: url("https://dl.dropboxusercontent.com/s/gs918tnv9bglzgn/weblysleekuil.ttf");
}
@font-face {
    font-family: libertine;
    src: url("https://dl.dropboxusercontent.com/s/ni5whootl9pxspt/LinLibertine_R.ttf");

}
@font-face {
    font-family: cinzel;
    src: url("https://dl.dropboxusercontent.com/s/3t1zdgl0q2p83sw/Cinzel-Regular.otf");
}

@font-face {
    font-family: yozakura;
    src: url("https://dl.dropboxusercontent.com/s/h4ssjbhoxg1sefe/YOZAKURA-Regular.otf");

}
.icon {
    width: 1.5em;
    height: 1.5em;
    padding: 0 1em;

}
/* spalsh */

.title {
    display: none;
   /* width: 100%;
    height: 150px;
    background: linear-gradient(rgba(20, 20, 20, .1), rgba(22, 22, 22, .65));
    border-bottom: 7px solid black; */
}
 #banner {
    width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-line-pack: center;
         align-content: center;
     -ms-flex-pack: distribute;
         justify-content: space-around;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     background-color: pink;
}
#content {
    width: 100%;
    position: relative;
    top: 93vh;
    background: rgb(130, 160, 185);

}

.intro {
    background-image: url("https://dl.dropboxusercontent.com/s/8ybxcikv4aor2yg/water.png");
    background-size: cover;
    background-color: darkslategrey;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: justify;
}

.intro h2 {
    display: block;
}

.intro .description {
    width: 100%;
  flex-basis: auto;
    margin: 2rem;
    background-color: rgba(19, 19, 19, .65);
    border-radius: 20px;
    color: gainsboro;
}

.intro .description > p {
    margin: 2rem;
    font-size: 1.3em;

}
.fmenu {
    -webkit-perspective: 1000px;
            perspective: 1000px;


  flex-basis: 40%;
}

h1 {
    height: 30px;
    overflow: hidden;
    margin: 0;
    color: black;
    background-color: black;
}

h3 {
    width: 100%;
    margin: 0;
    padding: .3rem;
    text-align: center;
    background-color: gainsboro;
    color: #696969;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    line-height: 3em;
    font-family: cinzel;

}



    /*    */

/* style*/
.bamboo {
  height: 265px;
  background: url('/images/bamboo.svg');
  background-size: cover;
  margin: 0;
  padding: 0;

}


    /*    */

/* bio */
.bio {
 background-color: gainsboro;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;

}
.face {
   -webkit-box-ordinal-group: 2;
       -ms-flex-order: 1;
           order: 1;
-ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  text-align: center;

}
.face img {
  border-radius: 50%;


}
.bio p {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-style:italic;
    line-height: 2;
    font-size: 1.2em;

}

.bio h2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-family: yozakura;
    font-size: 3.5em;
    margin: 0;
    text-align: center;
}
.bio a {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -ms-flex-line-pack: center;
        align-content: center;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: .85rem;
    text-decoration: none;
    color: darkslategrey;


}
.icon-wordpress {
  -webkit-box-flex: .5;
      -ms-flex-positive: .5;
          flex-grow: .5;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 1.5rem;
    fill: darkslategrey;

}




    /*    */

/* menu */
.printer, footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
     background: url('https://dl.dropboxusercontent.com/s/8ybxcikv4aor2yg/water.png');
    background-size: cover;
      -ms-flex-line-pack: center;
          align-content: center;
     -ms-flex-pack: distribute;
         justify-content: space-around;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
    border-bottom: 4px solid black;
    font-size: 1.5;
    font-weight: 600;
    padding: 0;
}






 .dashi {
     background: url("images/dashi.jpg");
    height: 19%;
    width: auto;
    background-position: bottom;
     background-repeat: no-repeat;
     background-size: cover;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
     -webkit-filter: blur(5px);
     -webkit-filter: opacity(20%);


}
.miso {
  background: url("images/miso.jpg");
       height: 19%;
       width: auto;
    background-position: bottom;
     background-repeat: no-repeat;
     background-size: cover;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
     -webkit-filter: blur(5px);
     -webkit-filter: opacity(20%);
}
.potato {
  background: url("images/potato.jpg");
       height: 19%;
       width: auto;
    background-position: bottom;
     background-repeat: no-repeat;
     background-size: cover;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
     -webkit-filter: blur(5px);
     -webkit-filter: opacity(20%);
}
 .edamame {
  background: url("images/edamame.jpg");
       height: 19%;
       width: auto;
    background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
     -webkit-transition-duration: 1s;
             transition-duration: 1s;
     -webkit-filter: blur(5px);
     -webkit-filter: opacity(20%);

}

.teriyaki {
  background: url("images/teriyaki.jpg");
       height: 19%;
       width: auto;
    background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   -webkit-transition-duration: 1s;
           transition-duration: 1s;
     -webkit-filter: blur(5px);
     -webkit-filter: opacity(20%);

}


/*  SECTION CONTENT  */
article > section {
  display: none;
  color: darkslategrey;
  padding: 0 10%;
}




  h4 {
    font-variant: small-caps;
    font-weight: 100;
    text-decoration: underline;
    color: grey;
  }

  .menu .description {
    color: gainsboro;
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
    padding: 0 10%;

  }


  .meta {
  float: left;

  }

  .ingredients {
    padding: inherit;
    float: left;
  }
  .ingredients ul {


    list-style-type: circle;


  }

  .instructions {
    float: left;


  }
  .instructions li {
    line-height: 2rem;
    font-size: 1.1rem;
    margin-left: 10px;


  }
  .clearfix {

    clear: both;
  }



/* footer */
.footer  {

    border-top: 8px solid black;
    border-bottom: 0;
}
.footer > * {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    padding: 10px 9% 40px;


}
@media (max-width: 690px) {
    .fmenu {
  width: 85%;
  display: block;
      margin: 0 auto;
    }
    .intro {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .intro .description {
     margin: 0;
    }

    .bio {
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
    }
}


}
@media (min-width: 1300px) {
    .intro .description {
     margin: 0;

    }
    .intro {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .intro {
     padding: 0;

    }

    .fmenu img {
       width: 19%;

    }
}
    /*    */
